@charset "utf-8";
.header{
    width: 100%;
    height: 1rem;
    z-index: 10;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    .logo{
        width: 2.2rem;
        height: 0.75rem;
        font-size: 0;
        margin-left: 0.18rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .xuan{
        width: 1.25rem;
        height: 0.75rem;
        margin-right: 0.18rem;
        display: flex;
        justify-content: space-between;
        .dao{
            width: 0.45rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                width: 0.45rem;
                height: 0.45rem;
            }
            span{
                font-size: 0.22rem;
                color: #999999;
                width: 0.5rem;
                height: 0.25rem;
                overflow: hidden;
            }
        }
    }
}
.artical{
    width: 100%;
    margin-top: 1rem;
    .banner{
        width: 100%;
        height: 2.7rem;
        font-size: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .nav{
        width: 100%;
        border-bottom: 20px solid gainsboro;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .tuwen{
            width: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0.6rem;
            margin-bottom: 0.4rem;
            font-size: 0.28rem;
            img{
                width: 1.2rem;
                height: 1.2rem;
                margin-bottom: 0.2rem;
            }
            .wen{
                width: 1.2rem;
                height: 0.3rem;
                text-align: center;
                overflow: hidden;
            }
        }
        .tuwen:nth-child(1),
        .tuwen:nth-child(5){
            margin-left: 0.28rem;
        }
        .tuwen:nth-child(1),
        .tuwen:nth-child(2),
        .tuwen:nth-child(3),
        .tuwen:nth-child(4){
            margin-top: 0.36rem;
        }
    }
    .zhuangxiu{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
                a{
                    width: 0.95rem;
                    height: 0.3rem;
                    font-size: 0.24rem;
                    color: #999999;
                }
            }
        }
        .banner2{
            width: 95%;
            height: 4rem;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .dian{
            width: 95%;
            height: 0.2rem;
            margin: 0.2rem auto;
            margin-bottom: 0.36rem;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                width: 0.15rem;
                height: 0.15rem;
                margin-right: 0.2rem;
                background: #7c7c7c;
                border-radius: 50%;
            }
            div:hover{
                background: #00bf9b;
            }
        }
        .zeng{
            width: 95%;
            height: 0.36rem;
            margin: 0 auto;
            margin-bottom: 0.36rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                align-items: center;
                img{
                    width: 0.36rem;
                    height: 0.36rem;
                    margin-right: 0.12rem;
                }
                span{
                    font-size: 0.28rem;
                    color: #000000;
                    overflow: hidden;
                }
            }
        }
    }
    .yuyue{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
                a{
                    width: 0.95rem;
                    height: 0.3rem;
                    font-size: 0.24rem;
                    color: #999999;
                }
            }
        }
        .ziliao{
            width: 5.86rem;
            margin: 0 auto;
            input{
                width: 100%;
                height: 0.7rem;
                border: 1px solid gainsboro;
                border-radius: 0.05rem;
                margin-bottom: 0.25rem;
                font-size: 0.28rem;
            }
            button{
                width: 100%;
                height: 0.7rem;
                font-size: 0.36rem;
                background: #feb605;
                margin-bottom: 0.36rem;
                color: white;
                border-radius: 0.05rem;
                border: none;
            }
        }
    }
    .sheji{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
            }
        }
        .sjs{
            width: 90%;
            height: 2.43rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            li{
                width: 2.63rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 1.4rem;
                    height: 1.4rem;
                    margin-bottom: 0.25rem;
                }
                .name{
                    width: 1.2rem;
                    height: 0.36rem;
                    font-size: 0.36rem;
                    overflow: hidden;
                    text-align: center;
                    line-height: 0.36rem;
                }
                .pl{
                    width: 1.2rem;
                    height: 0.32rem;
                    overflow: hidden;
                    text-align: center;
                    line-height: 0.32rem;
                    background: #39c893;
                    color: white;
                    font-size: 0.24rem;
                }
            }
        }
        .huan{
            width: 90%;
            height: 0.7rem;
            margin: 0.36rem auto;
            margin-bottom: 0.36rem;
            border: 1px solid gainsboro;
            display: flex;
            li{
                width: 50%;
                height: 100%;
                text-align: center;
                line-height: 0.7rem;
                font-size: 0.28rem;
            }
        }
    }
    .xiaoguo{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
            }
        }
        .tu{
            width: 7.16rem;
            height: 10.12em;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .tu1:nth-child(1){
                width: 100%;
                height: 5.06rem;
                font-size: 0;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .xh{
                    width: 0.7rem;
                    height: 0.42rem;
                    background: black;
                    color: white;
                    opacity: 0.5;
                    position: absolute;
                    right: 0.2rem;
                    bottom: 0.2rem;
                }
            }
            .tu1{
                width: 49%;
                height: 2.49rem;
                font-size: 0;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .xh{
                    width: 0.7rem;
                    height: 0.42rem;
                    overflow: hidden;
                    background: black;
                    color: white;
                    opacity: 0.5;
                    position: absolute;
                    right: 0.2rem;
                    bottom: 0.2rem;
                }
            }
        }
        .huan{
            width: 90%;
            height: 0.7rem;
            margin: 0.36rem auto;
            margin-bottom: 0.36rem;
            border: 1px solid gainsboro;
            display: flex;
            li{
                width: 50%;
                height: 100%;
                text-align: center;
                line-height: 0.7rem;
                font-size: 0.28rem;
            }
        }
    }
    .zhibo{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
            }
        }
        .tu2{
            width: 7.16rem;
            margin: 0 auto;
            img{
                width: 100%;
                height: 5.34rem;
            }
            p{
                span:nth-child(1){
                    width: 1.85rem;
                    height: 0.33rem;
                    overflow: hidden;
                    font-size: 0.28rem;
                }
                span:nth-child(2){
                    width: 1.15rem;
                    height: 0.33rem;
                    font-size: 0.28rem;
                    color: white;
                    overflow: hidden;
                    background: #39c893;
                }
            }
        }
        .huan{
            width: 90%;
            height: 0.7rem;
            margin: 0.36rem auto;
            margin-bottom: 0.36rem;
            border: 1px solid gainsboro;
            display: flex;
            li{
                width: 50%;
                height: 100%;
                text-align: center;
                line-height: 0.7rem;
                font-size: 0.28rem;
            }
        }
    }
    .gonglue{
        width: 100%;
        border-bottom: 30px solid gainsboro;
        .tou{
            width: 90%;
            height: 0.42rem;
            margin: 0.32rem auto;
            margin-bottom: 0.32rem;
            font-size: 0;
            border-left: 5px solid #3ac994;
            span{
                font-size: 0.36rem;
                margin-left: 0.3rem;
                width: 1.6rem;
                height: 0.42rem;
                overflow: hidden;
            }
        }
        .tuwen1{
            width: 7.16rem;
            height: 2.1rem;
            margin: 0 auto;
            font-size: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 1px solid gainsboro;
            img{
                width: 1.9rem;
                height: 1.45rem;
                margin-right: 0.22rem;
            }
            .wen1{
                width: 5rem;
                height: 1.45rem;
                .min_wen{
                    width: 100%;
                    font-size: 0.36rem;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0.22rem;
                }
                span{
                    width: 2.1rem;
                    overflow: hidden;
                    font-size: 0.28rem;
                    color: #999999;
                    img{
                        width: 0.28rem;
                        height: 0.28rem;
                        margin-right: 0.1rem;
                    }
                }
            }
        }
        .huan{
            width: 90%;
            height: 0.7rem;
            margin: 0.36rem auto;
            margin-bottom: 0.36rem;
            border: 1px solid gainsboro;
            display: flex;
            li{
                width: 50%;
                height: 100%;
                text-align: center;
                line-height: 0.7rem;
                font-size: 0.28rem;
            }
        }
    }
    .neir{
        width: 7.4rem;
        margin: 0.36rem auto;
        padding-left: 0.1rem;
//      padding-right: 0.2rem;
        padding-bottom: 0.36rem;
        border-bottom: 30px solid gainsboro;
        font-size: 0.28rem;
        text-indent: 2em;
    }
    .fw{
        width: 100%;
        height: 1.3rem;
        .fw-a{
            width:100%;
            height:1rem;
            font-size: 0;
            .a-fw{
                .icon-hot-line{
                    font-size: 0.32rem;
                    float: left;
                    color: #39c893;
                    margin-right: 0.1rem;
                    margin-left: 1.9rem;
                    margin-top: 0.3rem;
                }
                p{
                    width: 3.5rem;
                    height: 1rem;
                    overflow: hidden;
                    font-size: 0.28rem;
                    line-height: 1rem;
                    color: #333;
                    float: left;
                }
            }
        }
        .fw-b{
            width: 100%;
            height: 0.3rem;
            .fw-li{
                width: 25%;
                height: 0.3rem;
                font-size:0.28rem;
                float: left;
                text-align: center;
            }
        }
    }
    .footer{
        width: 100%;
        height: 1.85rem;
        font-size: 0;
        .ter-a{
            width: 100%;
            height: 1.06rem;
            position: relative;
            .ter-p{
                font-size: 0.25rem;
                text-align: center;
                line-height: 1.06rem;
            }
        }
    }
}
